.filter {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: #fff;
  &__id {
    padding-top: 10px;
    &__title {
      padding-bottom: 10px;
    }
  }

  .btn {
    background-color: #000;
    max-width: 400px;
    &:last-of-type {
      margin-top: 20px;
    }
  }
  .filter-box {
    padding-top: 20px;
    display: none;
    &--grid {
      display: block;
    }
  }

  .name-pacient__input-search {
    margin-top: 5px;
    box-sizing: border-box;

    &:focus {
      border: 3px solid #000;
    }
  }
}
.doctor {
  &__name {
    padding: 10px;
    display: inline-grid;
    line-height: 1.5;
  }
}
