.forms-inputs {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
  }
  input {
    height: 50px;
    border: 2px solid #eee;
    width: 100%;
    &:focus {
      box-shadow: none;
      outline: none;
      border: 2px solid #000;
    }
  }
}

.invalid-feedback,
.invalid-data {
  display: none;
  color: red;
  margin: 5px 0 0 0;
}
.invalid-data {
  padding-bottom: 10px;
  padding-left: 20px;
}
