.form-box {
  min-width: 300px;
  display: block;
  &__item {
    padding: 10px;
  }
  &__close {
    text-align: end;
    padding: 10px;
    &__btn {
      background-color: transparent;
      border: none;
      font-family: sans-serif;
    }
  }
  &__submit {
    border: 2px solid #000;
    color: #000;
  }
}
