@import "variables";
@import "mixins";
.items-doctors {
  position: relative;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: 0.3s;

  &::after {
    right: 0;
    position: absolute;
    content: "▼";
    font-size: 25px;
  }

  &:hover {
    border: 2px solid rgba(44, 43, 44, 0.979);
  }
}

.select-list-doctors {
  list-style: none;
  margin: 0;
  background: $mainColor;
  display: none;
  font-size: 25px;
  border: none;

  .select-list-doctors__link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 7px 0;
    border: 2px solid transparent;

    &:hover {
      color: $mainColor;
      background-color: #fff;
      border: 2px solid black;
    }
  }
}

.doctors-box {
  text-align: center;
  background-color: rgba(226, 212, 212, 0.87);
  max-width: 500px;
  min-width: 320px;
  position: absolute;
  top: 0;
}

.check-inputs-value,
.invalid-date-box,
.invalid-age-box,
.invalid-pressure-box {
  padding-bottom: 10px;
  padding-left: 20px;
  display: none;

  &__text {
    font-size: large;
    color: red;
  }
}
